src/main/resources/wsdl/external/transfer/transferDocService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://www.rumbe.ru/soa/lc/1_3/transfer"
            elementFormDefault="qualified"
            jaxb:version="2.1" version="1.0" xmlns="http://www.rumbe.ru/soa/lc/1_3/transfer"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            xmlns:transfer="http://www.rumbe.ru/soa/lc/1_3/transfer"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="transferDocReq" type="transfer:transferDocumentRequestType"/>
    <xsd:element name="transferDocResp" type="transfer:transferDocumentResponseType"/>

    <!--    request-->
    <xsd:complexType name="transferDocumentRequestType">
        <xsd:sequence>
            <xsd:element name="header" type="transfer:transferDocumentHeaderType"/>
            <xsd:element name="document" type="transfer:documentType">
                <xsd:annotation>
                    <xsd:documentation>Передаваемый документ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attachments" type="transfer:attachmentsType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transferDocumentHeaderType">
        <xsd:sequence>
            <xsd:element name="packageId" type="xsd:string"/>
            <xsd:element name="targetSystem" type="xsd:string"/>
            <xsd:element name="documentType" type="xsd:string" nillable="false"/>
            <xsd:element name="documentName" type="xsd:string" nillable="false"/>
            <xsd:element name="documentGuid" type="xsd:string" minOccurs="0"/>
            <xsd:element name="creationDateTime" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="documentType">
        <xsd:sequence>
            <xsd:any processContents="skip" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="attachmentsType">
        <xsd:sequence>
            <xsd:element name="attachment" type="transfer:attachmentType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="attachmentType">
        <xsd:annotation>
            <xsd:documentation>
                бинарные данные.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="content" type="xsd:base64Binary">
                <xsd:annotation>
                    <xsd:documentation>Содержимое файла вложе-ния в кодировке BASE64</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="signature" type="xsd:base64Binary" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Подпись вложения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!--request-->

<!--    response-->
    <xsd:complexType name="transferDocumentResponseType">
        <xsd:sequence>
            <xsd:element name="packageId" type="xsd:string"/>
            <xsd:element name="creationDateTime" type="xsd:dateTime"/>
            <xsd:element name="status" type="transfer:statusType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="statusType">
        <xsd:sequence>
            <xsd:element name="statusCode" type="transfer:statusCodeType">
                <xsd:annotation>
                    <xsd:documentation>Код статуса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="statusMessage" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Сообщение об ошибке</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="statusDetail" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дополнительное описание статуса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="documentGuid" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>GUID исходного документа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="statusCodeType">
        <xsd:annotation>
            <xsd:documentation>
                коды статусов:
                0 - успешное выполнение
                1 - ошибка валидации конверта
                2 - ошибка проверки подписи
                4 - ошибка обработки документа
                5 - ошибка обработки вложения
                9 - системная ошибка
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="9"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--    response-->
</xsd:schema>